.display {
  width: 220px;
  height: 160px;
  background-color: #212121;
  border-radius: 10px;
  opacity: 90%;
  background: url("https://fsb.zobj.net/crop.php?r=XSu3loeY4FCL1K64JwTSAJ1RWu3J6wI41SpgcBCid6Q21-Jz1QiA-XPA7iMdYRhyJfCGrOMZ-rhAaF4HyyAahpyLLhEF-egbEDdDVtI3tFhXgUG1ToA6IhZjII3BDEPIGS5Xg4-TpGEwxzUA");
  background-position: center;
  background-size: cover;
  margin-bottom: 2em;
}
